.tarjetaDetail {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', 'Montserrat-Light', verdana, sans-serif;
    font-size: 16px;
	// border: 1px solid black;
    // background-color: rgb(211, 211, 211);
    // box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tarjImg{
	width: 45%;
	min-width: 50px;
	// max-width: 77px;
	// border: 1px solid black;
	// background-color: burlywood;
	height: auto;
	padding: 0 5px 0 0;    
	// box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tarjTexto{
	width: 55%;
	background-color: rgb(222, 223, 176);
	box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	p{
		padding: 10px 0 10px 5px;
	}
}

.encuadre{
	margin-top: -90px;
}

.tarjVolver{
	width: 39%;
	// border: 1px solid black;
}
.tarjCounter{
	width: 61%;
}

.sinStock{
	background-color: red;
	color: white;
}


@media screen and (max-width: 992px) {
	/*se hace si tiene 992px o menos*/
	p {font-size: 0.875rem;}
}
@media screen and (max-width: 768px) {
	/*se hace si tiene 768px o menos*/
	p {font-size: 0.875rem;}
	.posicion{
		margin-left: -90px;
		margin-top: 0px;
	}
}
@media screen and (max-width: 576px) {
	/*se hace si tiene 576px o menos*/
	p {font-size: 0.75rem;}
}
@media screen and (max-width: 341px) {
	/*se hace si tiene 341px o menos*/
	p {font-size: 0.625rem;}
	.posicion{
		margin-left: 0px;
		margin-top: 0px;
	}

}
