.boxCarrito {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.3125rem;
}
  .img-tip {
    height: 1.5625rem;
    padding: 0 0.3125rem;
  }
    
/*------------------------------------------------------------------ */
@media screen and (max-width: 576px) {
  .p-tip {font-size: 0.875rem;}
  .img-tip {height: 1.25rem;}
}

@media screen and (max-width: 360px) {
  .p-tip {font-size: 0.75rem;}
}


